.box1 {border:10px; border-style: solid; background-color:#FFFF99; margin:100px; padding:100px;}
.box2 {border-color:maroon; border-style:dashed; border-width:30px; border-height:15px; font-size: 13pt; float: left}
.box3 {border-color:navy; border-style:dotted; border-width:4px; border-height:3px; font-size: 20pt; position: relative; float: right;}