@media screen and (max-width: 600px) {
body {
	font-size: 90%;
}
#paragraph1{
	color: red;
}
@media only screen and (min-width:320px){
	#paragraph1 {
		float: none;
		width: 100%;
		background-color: maroon;
		color: white;
	}
	#paragraph2 {
		border:3px;
		border-radius: 30%;
		background-color: grey;
	}
}

@media only screen and (min-width: 600px) and (max-width: 767px){
	#paragraph1 {
		float: none;
		width: 100%;
		background-color: yellow;
		color: grey;
		font-size: larger;

	}
}
